*::-webkit-scrollbar {
    width: 0;
    display: none;
}

.primary-color {
    color: var(--main);
}

.primary-bg {
    background-color: var(--main);
}

.primary-bg-dark {
    background-color: var(--main);
}

p {
    color: rgb(19, 19, 19);
}

.text-dark {
    color: rgb(19, 19, 19) !important;
}

.button {
    color: white;

    &>* {
        color: white !important;
    }
}

.table th,
.table td {
    text-align: center;
    text-wrap: nowrap;
    /* font-weight: normal; */
}

.table td {
    border-left: 1px solid rgba(160, 160, 160, 0.404);
}

.table-outer {
    overflow-x: auto;
    /* height: calc(100vh - 100px); */
}

.table thead tr th:first-child,
.table tbody tr td:first-child {
    text-align: start;
    padding-inline: 20px;
    position: sticky;
    /* left: 0; */
    z-index: 10;
    border-left: 0;
}

.table thead {
    position: sticky;
    top: 0;
}

.hover-h:hover {
    height: 75px !important;
    cursor: pointer;
    outline: 2px solid var(--main);
}

tr {
    height: 50px !important;
}