.text-sm- {
    font-size: 16px;
}

.table-prime :last-child {
    max-width: fit-content !important;
}

.table-prime::-webkit-scrollbar {
    width: auto !important;
    display: none;
}

.transition-300 {
    transition: .3s;
}

*::-webkit-scrollbar {
    width: 0;
    display: none;
}