.primary-color {
    color: var(--main);
}

.primary-bg {
    background-color: var(--main);
}

.primary-bg-dark {
    background-color: var(--main);
}

.text-black {
    color: black !important;
}

.actionButton {
    padding-block: 15px !important;
}
