.primary-color {
    color: var(--main);
}

.primary-bg {
    background-color: var(--main) !important;
}

.primary-bg-dark {
    background-color: var(--main) !important;
}

.text-black {
    color: black !important;
}

.actionButton {
    padding-block: 15px !important;
}

* {
    font-family: "Roboto Condensed", sans-serif;
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    overflow: auto;
}

code {
    font-family: monospace;
}
